html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    text-align: center;
    margin: 0;
    font-family: FontAwesome;
    color:rgb(42, 43, 43);
}

.header {
    position: relative;
    width: 500px;
    height: 150px;
    color: white;
    background-color: #218380;
    padding: 3%;
    margin: auto;
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    
}

.app-area {
    position: relative;  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgb(245, 237, 237);  
    text-align: center;   
    border: none;   
}

.todo-list {
    margin: 0% auto;
    padding: 5%;
    padding-top: 5%;
    display: inline-block;
}

.todo-style {
    border: none;
    background-color: rgb(245, 237, 237);  
    font-family: FontAwesome; 
    font-weight: bold;
    color: rgb(42, 43, 43);
}

.todo-style:hover {
    background-color: #c5c3c4;
}

.add-to-do {
    position: absolute;
    top: 65%;
    width: 75%;
    padding: 5%;
    left: 13%;
    margin: 0 auto;   
    background-color: #8F2D56;
    border-radius: 5px;  
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0%;
    font: bolder;
}

i {
       color: rgb(42, 43, 43);
       font: bold;       
}

.complete {
    text-decoration: line-through;
}

.custom-checkbox {
    filter: grayscale(100%);
}

.input-style {
    width: 220px;
}

.hide {
    display: none;
}

.date-picker {
    width: 120px;
    border: none;
    display: none;
    font-family: FontAwesome; 
    font-size: smaller;
    color: rgb(42, 43, 43);
    float: right;
}

.button-plus {
    background-color: #218380;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 2%;
}

.button-plus:hover {
    background-color: #FBB13C;   
}

.white-plus {
    color: white;
}

.white-plus:hover {
    color: black;
}

.button-style-list {
    background-color: rgb(245, 237, 237);
    color: rgb(42, 43, 43);
    border: none;
    border-radius: 50%;
    font-family: FontAwesome; 
    font-weight: bold;
    display: inline-block;
}

.button-style-list:hover {
    background-color: #218380;
}

.button-sort-clear {
    background-color: #FBB13C;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.button-sort-clear:hover {
    background-color: #8F2D56;
}

button:hover {
    transform: scale(1.4);
}


@media screen and (max-width: 400px) {

    body {
        font-size: 12px;
    }

    .header {
        padding: 50px;
        margin: 20px;
        height: 100px;
        max-width: 100%;
        width: 100vw;
    }

    .button-sort-clear {
        padding: 10px;
    }

    .input-style {
        width: 180px;
        margin: 10px;
    }
} 

@media screen and (max-width: 576px) {

    .header {
        width: 100vw;
        max-width: 100%;     
        height: 180px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin: auto 0;
        padding: 50px;
        padding-right: 30px;
    }

    .app-area {
        width: 100vw;
        max-width: 100%;
        max-height: 100vw; 
        margin: auto 0;
    }

    .todo-list {
        max-width: 100%;
        margin: auto 0;
        display: inline-block;
    }

    .add-to-do {
        width: 100vw;
        max-width: 100%;
        margin: 0 auto;        
        left: 0%;
        top: 80%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px; 
        border-bottom-right-radius: 0px;   
    }

    .input-style {
        margin: 10px;
    }
}

@media screen and (max-width: 1024px) {

    .header {
        max-width: 610px;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .app-area {
            max-width: 610px;
            height: 500px;
        }    
}    
    
   
